.player-page {
  margin-inline: 2%;
  padding-left: auto;
  display: flex;
  justify-content: center;
  column-gap: 10%;
}
.left-column {
  margin-bottom: 1rem;
}
.player {
  padding-left: auto;
  width: 650px;
  display: flex;
}
.player-container {
  min-height: fit-content;
  height: auto;
  max-height: 590px;
}
.button1 {
  max-height: fit-content;
}
.back-button {
  font-size: 13px;
  height: fit-content;
  width: fit-content;
  box-shadow: 1px 2px 5px rgb(151, 146, 141);
  margin: auto;
  text-align: center;
  padding: 4px;
}

.related-videos {
  padding-right: auto;
  width: fit-content;
}
@media screen and (max-width: 1000px) {
  .related-videos {
    flex-wrap: wrap;
  }
  .player-page {
    flex-wrap: wrap;
  }
}
  
.comments {
  margin-block-start: 2rem;
  display: grid;
  padding-inline: auto;
  max-width: inherit;
  justify-content: center;
}
