.player-page {
  margin-inline: 2%;
  padding-left: auto;
  display: flex;
  justify-content: space-around;
}

.player {
  padding-left: auto;
  width: 650px;
  display: flex;
}
.player-container {
  height: 590px;
}
.button1 {
  max-height: fit-content;
}
.back-button {
  font-size: 13px;
  height: fit-content;
  width: fit-content;
  box-shadow: 1px 2px 5px rgb(151, 146, 141);
  margin: auto;
  text-align: center;
  padding: 4px;
}

.related-videos {
  padding-right: auto;
  width: fit-content;
}

.comments {
  display: grid;
  padding-inline: 10px;
  max-width: 550px;
}
