footer {
  
  color: rgb(225, 225, 225);
  text-shadow: rgb(0, 0, 0) 1px 1px 2px;
  font-family: Helvetica, sans-serif;
  font-weight: lighter;
  padding-block: 2rem;
  margin-top: -20px;
  left: 0pt;
  bottom: 0pt;
  width: 100%;
  position: fixed;
  height: 5rem;
  text-align: center;
}
